<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>資料撈取</title>
@Styles.Render("~/Styles/Column")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/Scripts/ComboBox")
</head>
<body>
    <!-- 彈出視窗begin -->
    <div class="popup_wrap">
        <div class="popup_box sheet_filter">
            <span class="te_popup_btn_close" title="close"></span>
            <h4 class="title_column_setting">欄位設定 <dfn>按住Ctrl可以複選</dfn></h4>
            <hr>
            <div class="popup_main">
                <div class="column_wrap">
                    <h5>所有欄位</h5>
                    <div class="column_search">
                        <input type="text" placeholder="輸入欲搜尋欄位">
                        <div class="search_icon"></div>
                    </div>
                    <div class="column_all">
                        <ul>會員資料
                            <li id='a1'>會員種類1</li>
                            <li>會員姓名1</li>
                            <li>會員生日2</li>
                            <li>會員手機3</li>
                            <li id='a5'>縣市5</li>
                        </ul>
                        <ul>訂單資料
                            <li id='a6'>消費時間233</li>
                            <li id='a7'>總消費金額377</li>
                            <li id='a8'>單筆消費金額610</li>
                        </ul>
                    </div>
                </div>
                <div class="column_arr_l_and_r">
                    <div class="te_com_btn_edit_up arr_l_to_r"></div>
                    <div class="te_com_btn_edit_up arr_r_to_l"></div>
                </div>
                <div class="column_wrap">
                    <h5>目前欄位</h5>
                    <div class="column_arr_u_and_d">
                        <div class="te_com_btn_edit_up"></div>
                        <div class="te_com_btn_edit_down"></div>
                    </div>
                    <div class="column_current">
                    </div>
                </div>
            </div>
            <div class="popup_btn">
                <input class="te_com_btn_sub" type="button" value="確定">
            </div>
        </div>
    </div>
    <!-- 彈出視窗end -->

    <script>
        $(function () {
            $('.column_all').TEListBox();
            $('.column_search').TEListBoxSearch();
        });
    </script>

</body>
</html>