<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>資料撈取</title>
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />

@Styles.Render("~/Styles/Column")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/Scripts/ComboBox")

<style>

</style>

<script type="text/javascript">

    $(function () {

        var $popup = $('.popup_wrap');
        $popup.disableSelection();

        sourceRows = function () {
            return $('.column_all dl').map(function () {
                var $dl = $(this);
                var dl_data = {
                    dl: $dl,
                    show: function () { this.dl.show(); },
                    hide: function () { this.dl.hide(); }
                };

                var $ul = $dl.find('ul');
                dl_data.children = $ul.children().map(function () {
                    var $li = $(this);
                    var data = {
                        dl: $dl,
                        li: $li,
                        text: $li.html(),
                        checked: false,
                        setChecked: function (flag) {
                            this.checked = flag;
                            if (flag) {
                                this.li.addClass('selected');
                            }
                            else {
                                this.li.removeClass('selected');
                            }
                        },
                        toggleChecked: function () {
                            this.checked = !this.checked;
                            this.li.toggleClass('selected');
                        },
                        removed: false,
                        remove: function () {
                            this.removed = true;
                            this.checked = false;
                            this.li.hide();
                        },
                        addback: function () {
                            this.removed = false;
                        },
                        show: function () { this.li.show(); },
                        hide: function () { this.li.hide(); }
                    };
                    $li.data('data', data);

                    $li.click(function (event) {
                        if (event.ctrlKey) {
                            $(this).data('data').toggleChecked();
                        }
                        else {
                            $.each(sourceRows, function () {
                                $.each(this.children, function () {
                                    this.setChecked(false);
                                });
                            });
                            $(this).data('data').setChecked(true);
                        }
                    });

                    return data;
                }).get();

                return dl_data;
            }).get();
        } ();

    });

    var showGroup = false;

    function _onkeyupsearch(event) {
        var $input = $(event.target),
            val = $.trim($input.val()).toUpperCase();

        for (var i in sourceRows) {
            var group = sourceRows[i];
            group.show();

            var cnt = 0;
            for (var j in group.children) {
                var row = group.children[j];
                    text = row.text.toUpperCase(),
                    index = text.indexOf(val);

                row.setChecked(false);
                if (row.removed) {
                    row.hide();
                }
                else if (index === -1) {
                    row.hide();
                }
                else {
                    row.show();
                    cnt++;
                }
            }
            if (showGroup || cnt > 0)
                group.show();
            else
                group.hide();
        }
    }

    function rightFun() {
        console.log("rightFun");
        for (var i in sourceRows) {
            var group = sourceRows[i];
            for (var j in group.children) {
                var data = group.children[j];
                if (data.checked) {
                    addTarget(data)
                    data.remove();
                }
            }
        }
    }

    function addTarget(obj, checked) {
        var $li = $('<li>').attr('id', obj.li.attr('id')).append(obj.text);

        $(".column_current ul").append($li);

        var data = {
            checked: false,
            li: $li,
            text: obj.text,
            setChecked: function (flag) {
                this.checked = flag;
                if (flag) {
                    this.li.addClass('selected');
                }
                else {
                    this.li.removeClass('selected');
                }
            },
            toggleChecked: function () {
                this.checked = !this.checked;
                this.li.toggleClass('selected');
            },
            remove: function () {
                this.li.remove();
                obj.addback();
            }
        };
        $li.data('data', data);

        $li.click(function (event) {
            if (event.ctrlKey) {
                $(this).data('data').toggleChecked();
            }
            else {
                $.each(targetRows, function () { this.setChecked(false); });
                $(this).data('data').setChecked(true);
            }
        });

        targetRows.push(data);

        if (checked != void 0)
            data.setChecked(checked);
    }

    function leftFun() {
        console.log("leftFun");
        for (var i in targetRows) {
            var data = targetRows[i];
            if (data.checked) {
                data.remove();
            }
        }
    }

    function refreshTarget() {
        $(".column_current ul").html('');
        var temp = targetRows;
        targetRows = [];
        for (var i in temp) {
            addTarget(temp[i], temp[i].checked);
        }
    }

    function upFun() {
        var p = 0, q = targetRows[0].checked;
        for (var i = 0, len = targetRows.length; i < len; i++) {
            var data = targetRows[i];
            if (!data.checked || data.checked != q) {
                p++;
            }
            q = data.checked;
            data.mo = data.checked ? p - 1 : p;
            data.so = i;
            data.co = data.checked ? 0 : 1;
        }

        targetRows.sort(function (a, b) {
            if (a.mo != b.mo)
                return a.mo - b.mo;
            else if (a.co != b.co)
                return a.co - b.co;
            else
                return a.so - b.so;
        });

        refreshTarget();
    }

    function downFun() {
        var p = 0, q = targetRows[0].checked;
        for (var i = 0, len = targetRows.length; i < len; i++) {
            var data = targetRows[i];
            if (!data.checked || data.checked != q) {
                p++;
            }
            q = data.checked;
            data.mo = data.checked ? p + 1 : p;
            data.so = i;
            data.co = data.checked ? 1 : 0;
        }

        targetRows.sort(function (a, b) {
            if (a.mo != b.mo)
                return a.mo - b.mo;
            else if (a.co != b.co)
                return a.co - b.co;
            else
                return a.so - b.so;
        });

        refreshTarget();
    }

    function getResult() {
        var ret = [];
        $.each(targetRows, function () {
            ret.push(this.li.attr('id'));
        });
        return ret;
    }

    var sourceRows = [];
    var targetRows = [];
</script>
</head>
    <!-- 彈出視窗begin -->
    <div class="popup_wrap">
        <div class="popup_box sheet_filter">
            <span class="te_popup_btn_close" title="close"></span>
            <h4 class="title_column_setting">欄位設定 <dfn>按住Ctrl可以複選</dfn></h4>
            <hr>
            <div class="popup_main">
                <div class="column_wrap">
                    <h5>所有欄位</h5>
                    <div class="column_search">
                        <input type="text" placeholder="輸入欲搜尋欄位">
                        <div class="search_icon" onclick="_onkeyupsearch({target:$(this).prev()})"></div>
                    </div>
                    <div class="column_all">
                        <dl>
                            <dt>會員資料</dt>
                            <dd>
                                <ul>
                                    <li id='1'>會員種類1</li>
                                    <li id='2'>會員姓名1</li>
                                    <li id='3'>會員生日2</li>
                                    <li id='4'>會員手機3</li>
                                    <li id='5'>縣市5</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>訂單資料</dt>
                            <dd>
                                <ul>
                                    <li id='6'>消費時間233</li>
                                    <li id='7'>總消費金額377</li>
                                    <li id='8'>單筆消費金額610</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="column_arr_l_and_r">
                    <div class="te_com_btn_edit_up arr_l_to_r" onclick="rightFun()"></div>
                    <div class="te_com_btn_edit_up arr_r_to_l" onclick="leftFun()"></div>
                </div>
                <div class="column_wrap">
                    <h5>目前欄位</h5>
                    <div class="column_arr_u_and_d">
                        <div class="te_com_btn_edit_up" onclick="upFun()"></div>
                        <div class="te_com_btn_edit_down" onclick="downFun()"></div>
                    </div>
                    <div class="column_current">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="popup_btn">
                <input class="te_com_btn_sub" type="button" value="確定" onclick="alert(getResult())">
            </div>
        </div>
    </div>
    <div id='test'></div>
    <!-- 彈出視窗end -->
</body>
</html>